
@{
    ViewData["Title"] = "About Me";
}

<h1>Axel Ledung</h1>

<h2>Who am I?</h2>
<p>My name is Axel Ledung, I am born 1998 in the city of Stockholm in Sweden.</p>

<h3>Interests</h3>
<h3>Goals and aspirations</h3>
<h3>Core values</h3>
<h3>Experience</h3>


