@{
    ViewData["Title"] = "Home Page";
}


<div class="front">
    <div class="container">
        <div class="text-center">
            <h1>Welcome to my web application!</h1>
        </div>
    </div>
</div>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text">
            <h1>Welcome to my web application!</h1>
            <p>This site is my personal Workbench, you will find information about me and the projects I'm working on!</p>

            <h2>Current implementation</h2>
            <p>Homepage</p>
            <p>Navbar</p>
            <p>Database Connection</p>

            <h2>Recently added updates</h2>
            <p>Nothing new</p>

            <h2>Planned implementations</h2>
            <p>AI chatbot</p>
            <p>Contact form</p>
            <p>Interactive embedding of my projects</p>
            <p>Example code of previous solutions I am proud of.</p>
        </div>
    </main>
</div>
<div class="container">
    <main role="main" class="pb-3">
        <div class="text">
            <h1>Welcome to my web application!</h1>
            <p>This site is my personal Workbench, you will find information about me and the projects I'm working on!</p>

            <h2>Current implementation</h2>
            <p>Homepage</p>
            <p>Navbar</p>
            <p>Database Connection</p>

            <h2>Recently added updates</h2>
            <p>Nothing new</p>

            <h2>Planned implementations</h2>
            <p>AI chatbot</p>
            <p>Contact form</p>
            <p>Interactive embedding of my projects</p>
            <p>Example code of previous solutions I am proud of.</p>
        </div>
    </main>
</div>  